---
import { Image } from 'astro:assets';

import type { ImageMetadata } from 'astro';

const { url, title, imagePath, intro } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/blog/*.{jpeg,jpg,png,gif}')

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/images/blog*.{jpeg,jpg,png,gif}"`);
---
<!-- Card -->
<div class="">
    <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden ">
        <Image class="w-full h-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src={images[imagePath]()} alt={title} />
    </div>
    
    <div class="mt-4">
        <h3 class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-200">
            {title}
        </h3>
        <p class="mt-2 text-gray-800 dark:text-gray-200">
            {intro}
        </p>
        <a href={`/posts/${title.replaceAll(" ","-")}`} aria-label={intro} class="group dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 group-hover:text-gray-600 mt-2 inline-flex items-center gap-x-1 text-blue-600 decoration-2 group-hover:underline font-medium">
            Read more
            <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
        <slot />
    </div>
</div>
