---
const { tableData, tableHeaders, wasteTableData, wasteTableHeaders } = Astro.props;


---

<div >
	{
		wasteTableData && wasteTableHeaders ?
			<div class="border-b border-gray-200 dark:border-gray-700">
				<nav class="-mb-0.5 flex justify-center space-x-6" aria-label="Tabs" role="tablist">
					<button type="button" class="uppercase hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500 active" id="horizontal-alignment-item-1" data-hs-tab="#horizontal-alignment-1" aria-controls="horizontal-alignment-1" role="tab">
						Metal
					</button>
					<button type="button" class="uppercase hs-tab-active:font-semibold hs-tab-active:border-blue-600 hs-tab-active:text-blue-600 py-4 px-1 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="horizontal-alignment-item-2" data-hs-tab="#horizontal-alignment-2" aria-controls="horizontal-alignment-2" role="tab">
						Waste
					</button>
				</nav>
			</div>
			
			<div class="mt-3">
				<div id="horizontal-alignment-1" role="tabpanel" aria-labelledby="horizontal-alignment-item-1">
					<div class="flex flex-col mt-6 md:mt-12">
						<div class="-m-1.5 overflow-x-auto border rounded-lg  dark:border-gray-700">
							<div class="p-1.5 min-w-full inline-block align-middle">
								<div class="overflow-hidden">
									<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
										<thead>
											<tr>
												{
													tableHeaders.map((item) => (
													<th
													scope="col"
													class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
													>
													{item}
												</th>
												))
											}
										</tr>
									</thead>
									<tbody class="divide-y divide-gray-200 dark:divide-gray-700">
										{
											tableData.map((item) => (
											<tr>
												{item.map((item) => (
													<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
														{item}
													</td>
													))}
												</tr>
												))
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="horizontal-alignment-2" class="hidden" role="tabpanel" aria-labelledby="horizontal-alignment-item-2">
					<div class="flex flex-col mt-6 md:mt-12">
						<div class="-m-1.5 overflow-x-auto border rounded-lg  dark:border-gray-700">
							<div class="p-1.5 min-w-full inline-block align-middle">
								<div class="overflow-hidden">
									<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
										<thead>
											<tr>
												{
													wasteTableHeaders.map((item) => (
													<th
													scope="col"
													class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
													>
													{item}
												</th>
												))
											}
										</tr>
									</thead>
									<tbody class="divide-y divide-gray-200 dark:divide-gray-700">
										{
											wasteTableData.map((item) => (
											<tr>
												{item.map((item) => (
													<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
														{item}
													</td>
													))}
												</tr>
												))
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
			</div>
				</div>
			</div>
		:
			<div class="flex flex-col mt-6 md:mt-12" >
				<div class="-m-1.5 overflow-x-auto border rounded-lg  dark:border-gray-700">
					<div class="p-1.5 min-w-full inline-block align-middle">
						<div class="overflow-hidden">
							<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
								<thead>
									<tr>
										{
											tableHeaders.map((item) => (
											<th
											scope="col"
											class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
											>
											{item}
										</th>
										))
									}
								</tr>
							</thead>
							<tbody class="divide-y divide-gray-200 dark:divide-gray-700">
								{
									tableData.map((item) => (
									<tr>
										{item.map((item) => (
											<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
												{item}
											</td>
											))}
										</tr>
										))
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	}
	
</div>



