---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import SecondaryNav from "../../components/SecondaryNav.astro";
import productData from "../../products.json";

const shears = productData.shears;
const balerNames = productData.shears.types;
const shearKeys = [];

//Convert the names to access object keys, replace space with _, and converts to lowerCase
balerNames.forEach((element) => {
	element = element.toLowerCase().replaceAll(" ", "_");
	shearKeys.push(element);
});

const shearImages = await Astro.glob("../../images/Products/Shears/*");
---

<Layout title="JHR: Manufacturer of Scrap Metal, and Waste Processing Hydrarulic Shears" description="Unlock the power of precision with Jain Hydraulics Recycling's hydraulic shears. Precision-crafted for optimal cutting efficiency, our hydraulic shears excel in handling diverse materials, ensuring streamlined recycling operations.  Explore our user-friendly catalog showcasing a range of shears designed for seamless metal scrap processing and waste recycling, combining efficiency and sustainability.">
	<SecondaryNav product="shears" images={shearImages} names={balerNames} />

	<!-- Card Blog -->
	<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
		<!-- Grid -->
		<div class="grid sm:grid-cols-2 gap-6 lg:gap-18">
			{
				balerNames.map((item, index) => (
					<div class="group flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
						<div class="h-52 flex flex-col justify-center items-center rounded-t-xl py-2">
							<Image
								class="h-full w-auto object-fill"
								src={shearImages[index].default}
								alt={item}
							/>
						</div>
						<div class="p-4 md:p-6">
							<span class="block mb-1 text-xs font-semibold uppercase text-blue-600 dark:text-blue-500">
								Metal Recycling
							</span>
							<h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
								{`${item} Shear`}
							</h3>
							<p class="mt-3 text-gray-500">
								{shears[shearKeys[index]].description}
							</p>
						</div>
						<div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
							<a
								class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-es-xl bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
								href={`/products/shears/${item.toLowerCase()}`}
							>
								Learn More
							</a>
						</div>
					</div>
				))
			}
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Card Blog -->
</Layout>
